body{
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:gray;
    font:verdana;
}
.maindiv {
    background-color:white;
    color:black;
    width: 400px;
    padding: 40px;
    border-radius: 50px;
    box-align: center;
    margin: auto;
}
